{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>

    <link rel="stylesheet" href="{% static 'produtos/css/ver_produto.css' %}">
</head>
<body>
    <h1>Olá, tudo bem?</h1>

    <form action="{% url 'ver_produto' %}" method="post"> {% csrf_token %}
        <input type="text" name="nome" placeholder="Digite seu nome">
        <br>
        <br>
        <input type="number" name="idade" placeholder="Digite sua idade">
        <br><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>